build/
output/
*.o
*.d
*.bin
*.elf
sdkconfig
.idea/
.vscode/
tools/
**/output/
**/build/
DEVLOG.md
.obsidian/
docs/.obsidian/
*.bkp
docs/diagrams/diagrams.drawio
docs/diagrams/mermaid/
docs/study-notes/
gateway-os/buildroot/
